In [11]:
def sqlite_store(filepath, table_name, index_col, chunksize=1000):
    """read a csv in chunks, store it in a sqlite db and create an index for fast lookup"""
    db = sqlite3.connect(table_name + ".sqlite")
    for chunk in pd.read_csv(filepath, chunksize=chunksize):
        chunk.to_sql(str(table_name), db, if_exists="append")
#     db.execute("CREATE INDEX index_" + index_col + " ON " + table_name + "(" + index_col + ")")t
    db.close()

In [12]:
import sqlite3
import pandas as pd

In [13]:
sqlite_store("../../practice/Datasets/marathon-data.csv", 'MarathonData', "split")

In [14]:
def sqlite_query(table_name, column, lookup_value):
    """query a sqlite db created with sqlite_store()"""
    db = sqlite3.connect(table_name + ".sqlite")
    query = "SELECT * FROM " + table_name + " WHERE " + column + " = " + lookup_value
    return pd.read_sql_query(query, db)

In [15]:
sqlite_query("MarathonData", "age", "31")

      index  age gender     split     final
0         2   31      M  01:06:49  02:10:42
1         4   31      M  01:06:32  02:13:59
2         5   31      M  01:06:13  02:14:11
3         7   31      M  01:06:31  02:15:16
4        21   31      M  01:05:54  02:22:20
...     ...  ...    ...       ...       ...
1088  37059   31      M  03:13:08  07:58:23
1089  37075   31      W  03:35:47  08:00:20
1090  37076   31      W  03:24:55  08:00:26
1091  37105   31      W  03:31:40  08:05:43
1092  37182   31      W  03:23:49  08:24:47

[1093 rows x 5 columns]